<!-- <div class="hero-image" style="background-image: linear-gradient(
    rgba(241,157,148,0.3),
    rgba(200,200,200,0.1)),
    url('https://picsum.photos/800/600?image=<%= @cocktail.id + 100 %>');">
 -->        <div class="banner">

  <h2 class="cocktail-name"><%= @cocktail.name %></h2>
 </div>
      <div class="d-flex">


        <% @cocktail.doses.each do |d| %>
        <div class="card">

          <%= d.description %>
          <%= d.ingredient.name %>
          <%= link_to "DELETE", dose_path(d) %>
        <% end %>
        </div>

      </div>
  <!-- form to go here -->
      <div>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
         <%= f.input :description %>
         <%= f.association :ingredient %>
         <%= f.button :submit %>
        <% end %>
      </div>
    </div>
