<div class="hero-image rounded text-center" style="background-image: linear-gradient(
    rgba(241,240,148,0.8),
    rgba(200,200,200,0.5)),
    url('<%= @cocktail.photo %>'); position: relative; top: -50px; margin: 0 auto; width: 50vw">

  <div class="banner py-3">

  <h2 class="cocktail-name p-3"><%= @cocktail.name %></h2>
 </div>
 <hr>
      <div class="d-flex justify-content-between">
        <div class="doses-form w-50">

          <h3 class="text-dark">Ingredients</h3>
          <hr>
          <ul style="style="background-image: linear-gradient(rgba(241,157,148,1), rgba(200,200,200,0.1))" class="p-3 text-left">

                  <% @cocktail.doses.each do |d| %>
                  <li class="list-item py-3">

                    <%= d.ingredient.name %>: <%= d.description %>
                    <%= link_to "<small><i class='far fa-trash-alt text-danger'></i></small>".html_safe, dose_path(d), method: :delete %>
                    <%= link_to(dose_path) do %>
                    <% end %>
                  <% end %>
                  </li>

          </ul>
      </div>
          <div class="p-5 w-50 center-content bg-dark text-white rounded m-3">
            <%= simple_form_for [@cocktail, @dose], class: "text-center" do |f| %>
             <%= f.association :ingredient, label: "Pick an ingredient" %>
             <%= f.input :description, label: "Add a dose", placeholder: "How much?" %>
             <%= f.button :submit, "Dose me up" %>
            <% end %>
          </div>
      </div>

<!-- <img src="https://picsum.photos/800/600?image=<%= @cocktail.id + 100 %>" alt="" style="filter:sepia(50%)" width="50%" height="50%" class="rounded">
 -->      </div>
      </div>
