<div class="hero-image" style="background-image: url();">
    <div class="backdrop shibuya" style='background-image: url("https://rpsthecoder.github.io/img-repo/Shibuya%20by%20Alex%20Knight.jpg");'>
        <h1 class="knockout-text cocktail-name shibuya"><%= @cocktail.name %></h1>
    </div>
<div class="d-flex">

  <ul>

  <% @cocktail.doses.each do |d| %>
  <strong><li>
    <%= d.description %>
    <%= d.ingredient.name %>
    <%= link_to "DELETE", doses_destroy_url(d) %>
  </li> </strong>
  <% end %>
  </ul>
  <img src="https://picsum.photos/800/600?image=<%= @cocktail.id + 100 %>" alt="">

</div>
  <!-- form to go here -->

  <%= simple_form_for [@cocktail, @dose] do |f| %>
   <%= f.input :description %>
   <%= f.association :ingredient %>
   <%= f.button :submit %>
  <% end %>
</div>
