<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="full-bg">

    <div class="navbar-lewagon">
        <span class="home-link btn btn-primary"><%= link_to "Home", cocktails_path, class: "text-white" %></span>
        <span class="add-cocktail btn btn-primary"><%= link_to "Add a new cocktail", new_cocktail_path, class: "text-white"  %></span>
    </div>
    <div class="container">

      <%= yield %>

    </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
